body{
    background: linear-gradient(rgba(0, 0, 50,0.2), rgba(0, 0, 50, 0.5)), url(image.jpg);
    background-size: cover;
    background-position: center; 
}

.wrapper{
    position: relative;
    float: none;
    margin-top: 80px;
    margin-bottom: 85px;
    margin-right: 110px;
    margin-left: 110px;
    background: rgba(218, 220, 228, 0.85);   
}

.text{  
    font-size: 6rem;
}

.box {
    background-color: white;
    color: black;
    padding: 7px 1px;
    border: none;
    cursor: pointer;
    float: left;
    width: 30%;
    opacity: 0.9;
  }

  label {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    font-size: medium;
}
