body{
    background: linear-gradient(rgba(0, 0, 50,0.2), rgba(0, 0, 50, 0.5)), url(image.jpg);
    background-size: cover;
    background-position: center; 
}

.wrapper{
    position: relative;
    float: none;
    margin-top: 80px;
    margin-bottom: 85px;
    margin-right: 110px;
    margin-left: 110px;
    background: rgba(218, 220, 228, 0.85);  
}


.login_text{  
    font-size: 6rem;
}

.box {
    background-color: white;
    color: black;
    padding: 7px 8px;
    margin: 1px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  label {
    text-align: left;
    float: left;
    font-size: medium;
}

.block {
    display: block;
    width: 80%;
    background-color: #ff7f50;
    color: white;
    padding: 20px 10px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    font-style: italic;
    margin-top: 30px;
    
  }
  
  .block:hover {
    background-color: #747d8c; 
    color: black;
  }